---
layout: 'base.pug'
---
section.slide.projhero
    .proj-pg-desc
        span.overline.projs-dscplne #{projsDscplne}
        //- span.overline.projs-order #{(x + 1).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})} / #{collections.project.length.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}
        h2.projs-name  #{projsName}
    .p-heroimg
        img(src=`../${projsFtImg}`)
section.slide.proj-prompt
    h3.proj-prompt-txt #{projPrompt}
section.slide.proj-outcome
    .p-img-lead.left
        img(src=`../${projsFtImg}`) 
    .proj-desc!=`${projDesc}`
if media.use 
    section.slide.proj-media
        video.video(src=`../${media.file}` controls)
section.slide.p-outcome-img-list
    each outcomeImg in projImgs
        .p-outcome-img(class=`${outcomeImg.position}`)
            .p-outcome-img-wrapper
                img(src=`../${outcomeImg.image}` alt=`${outcomeImg.imageAlt}`)
//- section.slide.proj-next
//-     .slide-text-all
//-         span.proj-next-ol Next Project
//-         a.proj-next-link(href="#") Project Title Test
