---
title: GRAPHIC DESIGNER
layout: 'base.pug'
---


section.slide.hero
    h1 A Designer who's here to help create & deliver change.
include partials/_about.pug
section.slide.projs
    .projs-slide-gall(id="projects")
        each project, projNum in collections.project
            .projs-card
                //- .projs-overline-all
                .projs-text 
                    //- span.overline.projs-order #{(projNum + 1).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})} / #{collections.project.length.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}
                    span.overline.projs-dscplne #{project.data.projsDscplne}
                    a.projs-titlelink(href=`${project.url}`)
                        h2.projs-name #{project.data.projsName} 
                        //- proj-arrow will be taken care of with pseudo after element
                img.projs-img(src=`${project.data.projsFtImg}` alt="A white background with an all-in-one desktop computer.")
            //- include partials/_projsCard.pug
        else 
            .oops THERE WAS SOMETHING WRONG WITH the NAME! someone tell sami!
    //- .projs-slide-misc
    //-     h3.projs-slide-misc-txt I also explore other disciplines to carry through my curiosity into techniques I can use in future projects.
    //-     .projs-slide-misc-img-all 
    //-         img.projs-sm-img-indiv(src="https://picsum.photos/600", alt="", srcset="")
    //-         img.projs-sm-img-indiv(src="https://picsum.photos/600", alt="", srcset="")
    //-         img.projs-sm-img-indiv(src="https://picsum.photos/600", alt="", srcset="")
    //-         img.projs-sm-img-indiv(src="https://picsum.photos/600", alt="", srcset="")
    //-         img.projs-sm-img-indiv(src="https://picsum.photos/600", alt="", srcset="")
//- include partials/_about.pug
include partials/_finds.pug

