---
title: 'DESIGNER'
layout: 'base.pug'
---

 
section.slide.hero
    h1.hero-txt#hero-txt A Designer who's here to help create & deliver change.
include partials/_about.pug
section.slide.projs(id="projects")
    h2.projects-header Some of my projects include... 
    .projs-slide-gall
        -   const order = collectionOrder.collection; 
        -   const cmsGiven = collections.project
        -   for (let i=0; i < order.length; i++ ) {
        -   let wantedProj = order[i].projectArrange;
        -       for (let j=0; j < cmsGiven.length; j++ ) {
        -            const project = cmsGiven[j];
        -           if ( project.data.projsName == wantedProj) {
                        .projs-card
                            //- .projs-overline-all
                            a.projs-text(href=`${project.url}` data-cursor-class="arrow")
                                //- span.overline.projs-order #{(projNum + 1).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})} / #{collections.project.length.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}
                                span.overline.projs-dscplne #{project.data.projsDscplne}
                                h3.projs-name #{project.data.projsName} 
                                    //- proj-arrow will be taken care of with pseudo after element
                            a.projs-img-contain(href=`${project.url}` data-cursor-class="arrow")
                                .projs-img-wrap
                                    img.projs-img(src=`${project.data.projsHeroImg}` alt=`${project.data.projsName}`)
        -           }
        -       }
        -   }
section.slide.extras 
    h2.extras-header ...along with other side projects + experiments. 
    .extras-slide-gall
        each extra in extras.piece
            .extras-card 
                .extras-img-wrap 
                    img.extras-img(src=`${extra.img}` alt=`${extra.altTxt}`)
                .extras-text-wrap
                    h3.extras-title #{extra.title}
                    p.extras-desc #{extra.desc}
include partials/_finds.pug

