---
title: GRAPHIC DESIGNER
layout: 'base.pug'
---

include partials/_headerwithnav.pug
main.main
    section.slide.hero
        h1 A Designer who's here to help create ctestere.
    section.slide.intro
        each introimg in collections.introimgs
            img.introimg(src=`${introimg.data.introimg1}`, alt="", srcset="")
            img.introimg(src=`${introimg.data.introimg2}`, alt="", srcset="")
            img.introimg(src=`${introimg.data.introimg3}`, alt="", srcset="")
        else
            .emptydiv oops!
        .slide-text-all 
            h3 ready to learn + create 
            .slide-text-pwrap
                p I’m a designer with an illustration background who’s interested in  pushing for worthy causes while developing her digital skillset.
                p I constantly ask questions and seek out answers to best inform my practice and process. I am currently learning JS animation libraries and front-end development practices to inform my digital design!
    section.slide.projs
        h1 Some Projects
        .projs-slide-gall
            each project, projNum in collections.project
                .projs-card
                    .projs-overline-all 
                        span.overline.projs-dscplne #{project.data.projsDscplne}
                        span.overline.projs-order #{(projNum + 1).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})} / #{collections.project.length.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}
                    a.projs-titlelink(href='/#')
                        h2.projs-name #{project.data.projsName} 
                        //- proj-arrow will be taken care of with pseudo after element
                    img.projs-img(src=`${project.data.projsFtImg}` alt="A white background with an all-in-one desktop computer.")
                //- include partials/_projsCard.pug
            else 
                .oops THERE WAS SOMETHING WRONG WITH the NAME!
        .projs-slide-misc
            h3.projs-slide-misc-txt I also explore other disciplines to carry through my curiosity into techniques I can use in future projects.
            .projs-slide-misc-img-all 
                img.projs-sm-img-indiv(src="https://picsum.photos/600", alt="", srcset="")
                img.projs-sm-img-indiv(src="https://picsum.photos/600", alt="", srcset="")
                img.projs-sm-img-indiv(src="https://picsum.photos/600", alt="", srcset="")
                img.projs-sm-img-indiv(src="https://picsum.photos/600", alt="", srcset="")
                img.projs-sm-img-indiv(src="https://picsum.photos/600", alt="", srcset="")
    section.slide.aboutme 
        h1 Who are you again?
        .slide-text-all 
            h2 I'm #{myInfo.myName}! 
            .slide-text-pwrap 
                p I’m interested in using my skills to disseminate information for the greater good. My passion for design stems from my cross-sectional experiences and from being a witness to people in need over the course of my life. 
                p There is no design consideration that’s too nitpicky if it means improving the experience for those who need it most. This can mean many things, but nothing is too big or too small.
            each infoLink in myInfo.myLinks
                a.about-extlink(href=`${infoLink.myPlatformLink}`)
                    h3 #{infoLink.myPlatform}
            else 
                .oops SOMETHING WENT WRONG!!!!
include partials/_footer.pug
